@import "tailwindcss";

:root {
  color-scheme: light;
}

/* Prevent horizontal scroll */
html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  background-color: #0f172a; /* slate-900 */
  color: #ffffff;
}

#root {
  overflow-x: hidden;
  max-width: 100%;
}

/* Hide scrollbar globally */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}
